
<div class="account-container" *ngIf="!transVisible">
    <h1 *ngIf="acc">Account Details of Account No. {{acc._id}}</h1>
    <table *ngIf="acc" >
        <thead >
            <tr>
                <td>Account No.</td>
                <td>Account Type</td>
                <td>Balance</td>
                <td>Transaction List</td>
            </tr>
        </thead>
        <tbody >
            <tr >
                <td>{{acc._id}}</td>
                <td>{{acc.type}}</td>
                <td>{{acc.balance}}</td>
                <td class="hoverChanger"  (click)="transactionSearch()"><a >Transaction</a>  </td>
            </tr>
        </tbody>
    </table>
    

</div>

<div class="trans-container" *ngIf="transVisible">
    <h1 *ngIf="acc">Transactions Done by Account No.  {{acc._id}}</h1>
    <table>
        <thead>
            <tr>
                <td >Transaction ID</td>
                <td>Transaction Type</td>
                <td>Transaction Amount</td>
                <td>Transaction Date</td>
            </tr>
        </thead>
        <tbody *ngFor="let tr of trans">
            <tr>
                <td>{{tr._id}}</td>
                <td>{{tr.transactions_type}}</td>
                <td>{{tr.amount}}</td>
                <td>{{tr.transactionDate}}</td>
            </tr>
        </tbody>
    </table>

</div>