
<!-- 
<div class="image">
    <div class="topnav">
      <h1>BANK MANAGEMENT APP</h1>
        <a routerLink="customers" >Customers details</a>
        <a routerLink="transactions" >Transaction details</a>
    </div>

<div class ="content">
  <router-outlet></router-outlet>
</div>

</div>
-->


  
<!-- -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div class="container-fluid">
  
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <div class="main"><h2>BANK MANAGEMENT APP</h2></div>
      <ul class="nav nav-pills nav-stacked">
        <li><a routerLink="customers" >Customers details</a></li>
        <li><a routerLink="transactions" >Transaction details</a></li>
        <li><a routerLink="accounts">Account Details</a></li>
        <li><a href="#section3">Contacts</a></li>
      </ul>
    <br>
    </div>
    <br>
    
    <div class="col-sm-9">
        <div class ="content">
          <router-outlet></router-outlet>
        </div>
      </div>
     
    </div>
  </div>


<!---->
